<div class="loginpage  mt-5">
    <div class="card flex justify-content-center ">
       
        <p-card header="Just Referral" subheader="" class="login-card" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
               <h2 class=" flex justify-content-center">Login</h2>
            </ng-template>
            <div>
                
                <div class="card flex flex-wrap justify-content-center gap-3">
                    <p-iconField iconPosition="left">
                        <p-inputIcon styleClass="pi pi-user" />
                        <input type="text" [(ngModel)]="value1" pInputText placeholder="Enter The Email" />
                    </p-iconField>
                    <p-iconField iconPosition="left">
                        <p-inputIcon styleClass="pi pi-key" />
                        <input type="password" [(ngModel)]="value2" pInputText placeholder="Enter The password" />
                    </p-iconField>
                  
                </div>
            </div>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Login" (onClick)="loginclick()" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
      </div>
</div>
